* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;

  scrollbar-color: var(--color-overlay-dark);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-overlay-dark);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

html,
body {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
}

button {
  cursor: pointer;
}
