:root {
  --main-background: #313131a2;
  --color-button: #f3d88ead;
  --red-color: #e83d3dd1;
  --green-color: #1fb012dc;
  --black-color: #151515dd;
  --white-color: #e0d5c8df;
  --color-overlay-purple: #1d1627a2;
  --color-overlay-light: #9f9e9cdf;
  --color-overlay-yellow: #241d17d8;
  --color-overlay-green: #163f1dd8;
  --color-overlay-red: #2e0e0ed8;
  --color-overlay-dark: #111111d8;
  --disabled-color-button: #2a2a2ad2;
  --main-font: "Playfair Display", serif;
  --time-transition: 0.3s;
  --container-padding: 15px;
}