:root {
  --main-background: #313131a2;
  --color-button: #f3d88ead;
  --red-color: #3a2222aa;
  --green-color: #0a0a0a;
  --black-color: #151515dd;
  --color-overlay-purple: #1d1627a2;
  --color-overlay-light: #9f9e9cdf;
  --color-overlay-yellow: #241d17d8;
  --color-overlay-green: #163f1dd8;
  --color-overlay-red: #2e0e0ed8;
  --main-font: "Playpen Sans", cursive;
  --time-transition: 0.3s;
  --container-padding: 15px;
}