.role-card {
  position: relative;
  perspective: 1000px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;

  &__inner {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    @include transition(transform 0.5s ease-in-out);

    &--flipped {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;

    &--front {
      background-image: url("/img/front-card.jpg");
      background-size: cover;
      background-position: center;
    }

    &--back {
      background-size: 100% 100%;
      background-position: center;
      border: 1px solid #53411ad5;

      transform: rotateY(180deg);
    }
  }

  &__title {
    font-family: var(--main-font);
    color: var(--black-color);
    font-size: 1.3em;

    @include text-overlay(--color-overlay-light);
  }

  &__description {
    width: 96%;
    font-family: var(--main-font);
    color: var(--color-button);
    font-size: 0.6em;
    text-align: left;
    line-height: 120%;

    @include text-overlay(--color-overlay-yellow);
  }

  &__region-goal {
    width: 96%;
    color: var(--green-color);

    @include text-overlay(--color-overlay-green);
  }

  &__region-night-action {
    width: 96%;
    color: var(--red-color);
    margin-bottom: 2%;

    @include text-overlay(--color-overlay-red);
  }

  &__subtitle {
    font-family: var(--main-font);
    color: var(--color-button);
    font-size: 0.6em;
    text-align: left;
    line-height: 120%;
  }

  &__text {
    font-family: var(--main-font);
    color: var(--color-button);
    font-size: 0.6em;
    text-align: left;
    line-height: 120%;
  }
}
